.scarpim-logo {
    position: absolute;
    width: 280px;
    height: 100px;
    margin: auto;
    top: 35%;
}

.container-logo {
    background-color: #74a4bb;
}

body {
    background-color: rgb(12, 3, 36);
}

.logo-canto {
    position: relative;
    left: 0px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.card-white {
    width: 100%;
}

.token {
    font-size: 12px;
}

